/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #333;
   
  }
  #prelod{
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  .header {
    background-color: #1654b7;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: transform 0.2s ease-in-out; 
  }


  .header img {
    height: 40px;
    width: 50px;
    margin-right: 10px;
  }
  
  .nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .nav ol {
    list-style: none;
    padding: 0;
    margin-right:30px;
  }
  
  .nav ol li {
    display: inline-block;
    margin: 0 30px;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    font-size: 18px;
    padding: 10px 15px;
  }
a:hover{
    background-color: #154f9f;
    transition: .5s;
  }
  

  main {
    padding: 20px;
  }
  
  .section1 {
    background-color: #1654b7;
    color: #fff;
    padding: 20px;
  }
  
  .section2,
  .section3,
  .section4,
  .section5 {
    background-color: #f2f2f2;
    color: #333333;
    padding: 20px;
  }
  

  .footer {
    background-color: #1a2639;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive styles */
 
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  /* Add scrollbar styling */
body {
    scrollbar-width: thin;
    scrollbar-color: #a29797 #f2f2f2;
  }
  
  /* Track */
  body::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  

  